$primary-color: #22515F;
$secondary-color: #B68E6C;
$secondary-dark-color: #154452;
$secondaru-light-color: #255665;
$text-color: #FFFFFF;
$text-secondary-color: #000000;
$grad-color: linear-gradient(131.53deg, #B68E6C 0%, #CCAE95 100%);


$font-family: "Arsenal", sans-serif;
$second-family: "Geologica", sans-serif;

$tablet-width: 48rem;