.architect {
  padding: 9.5rem 0;
  margin-left: -5rem;
  .title {
    color: $secondary-color;
    margin-bottom: 5rem;
  }
  &__img-block {
    margin: 10.2rem 0;
    margin-left: -5rem;
    height: 80rem;
    overflow: hidden;
    width: 182rem;
  }
  .link_lined {
    margin-top: auto;
    margin-bottom: 1rem;
  }
}