.list {
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__li {
    position: relative;
    margin-left: 2rem;
    &::before {
      content: '';
      display: block;
      width: 0.5rem;
      min-width: 0.5rem;
      height: 0.5rem;
      padding: 0.2rem;
      border-radius: 50%;
      background-color: $secondary-color;
      border: solid 3px $primary-color;
      outline: solid 1px $secondary-color;
      position: absolute;
      top: 1rem;
      left: -2rem;
    }
  }
}

.accordion {
  &__item {
    margin-bottom: 3rem;
    &-header {
      display: flex;
      align-items: center;
      font-family: 'Arsenal-bold';
      .dotted-line {
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed $secondary-color;
        margin: 0 2rem;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $secondary-color;
          position: absolute;
          right: 0;
          top: -2px;
        }
      }
      &._accordion-active {
        .btn-round img{
          transform: rotate(180deg);
        }
      }
    }
    &-title {
      color: $secondary-color;
      text-transform: uppercase;
      white-space: nowrap;
    }
    &-text {
      font-family: 'Geologica-light';
      line-height: 190%;
      padding-top: 2rem;
    }
  }
}