.list {
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__li {
    position: relative;
    margin-left: 2rem;
    font-family: 'Geologica';
    font-weight: 300;
    &::before {
      content: '';
      display: block;
      width: 0.5rem;
      min-width: 0.5rem;
      height: 0.5rem;
      padding: 0.2rem;
      border-radius: 50%;
      background-color: $secondary-color;
      border: solid 3px $primary-color;
      outline: solid 1px $secondary-color;
      position: absolute;
      top: 1rem;
      left: -2rem;
    }
  }
}

.accordion {
  &__item {
    margin-bottom: 3rem;
    &-header {
      display: flex;
      align-items: center;
      font-weight: 700;
      .dotted-line {
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed $secondary-color;
        margin: 0 2rem;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $secondary-color;
          position: absolute;
          right: 0;
          top: -2px;
        }
      }
      &._accordion-active {
        .btn-round img{
          transform: rotate(180deg);
        }
      }
    }
    &-title {
      color: $secondary-color;
      text-transform: uppercase;
      white-space: nowrap;
    }
    &-text {
      font-family: 'Geologica';
      font-weight: 300;
      line-height: 190%;
      padding-top: 2rem;
    }
  }
}

.list-block {
  display: flex;
  gap: 4rem;
  &__item {
    width: 53rem;
    display: flex;
    flex-direction: column;
  }
  .list__ul {
    gap: 1rem;
  }
}

.link {
  &_lined {
    color: $secondary-color;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Geologica';
    font-weight: 500;
    border-bottom: solid 3px $secondary-color;
    padding-bottom: 0.5rem;
    width: fit-content;
    span{
      width: 1.2rem;
      height: 1.2rem;
      background-color: $secondary-color;
      border-radius: 50%;
      display: block;
    }
  }
}

.grid {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-item {
      border: solid 1px $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      .text {
        font-family: 'Geologica';
        font-weight: 300;
        font-size: 1.8rem;
        span {
          font-family: 'Arsenal';
          font-size: 2.4rem;
          font-weight: 700;
          color: $secondary-color;
        }
      }
    }
  }
}