.txt70extrabold {
  font-size: 7rem;
  font-weight: 800;
  line-height: 9.6rem;
}

.txt70reg {
  font-size: 7rem;
  font-weight: 400;
  line-height: 8.7rem;
}

.txt30bold {
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}

.txt24bold {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}

.txt24light {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: normal;
}

.txt20light {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.8rem;
}

.txt20medium {
  font-size: 2rem;
  font-weight: 300;
  line-height: 190%;
}

.txt20semibold {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.8rem;
}

.txt20bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.txt18light {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 190%;
}

.txt14light {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 190%;
}