<div class="menu-panel__wrapper active">
  <div class="container">
    <div class="header__panel">
      <a href="#choose-appartment" class="header__appart-link txt20medium">Выбрать квартиру</a>
      <div class="header__panel-side">
        <a href="tel:+78005008868" class="header__tel-link txt20medium">8 800 500-88-68</a>
      </div>
      <button class="close-btn menu-panel__close-img" data-burger="close">
        <img src="./assets/images/menu-close.svg" alt="">
      </button>
    </div>
    <div class="menu-panel__content">
      <div class="footer__nav">
        <div class="footer__nav-block">
          <p class="txt24bold title">О комплексе</p>
          <div class="footer__nav-block-list txt18light">
            <a href="" class="footer__nav-link">Уникальная локация</a>
            <a href="" class="footer__nav-link">Красивая архитектура</a>
            <a href="" class="footer__nav-link">Вся инфраструктура</a>
          </div>
        </div>
        <div class="footer__nav-block">
          <p class="txt24bold title">О выборе</p>
          <div class="footer__nav-block-list txt18light">
            <a href="" class="footer__nav-link">Комфортные квартиры и апартаменты</a>
            <a href="" class="footer__nav-link">Коммерция для бизнеса</a>
            <a href="" class="footer__nav-link">Паркинг с лифтом</a>
          </div>
        </div>
        <div class="footer__nav-block">
          <p class="txt24bold title">О важном </p>
          <div class="footer__nav-block-list txt18light _dubble">
            <a href="" class="footer__nav-link">Динамика строительства</a>
            <a href="" class="footer__nav-link">Документы</a>
            <a href="" class="footer__nav-link">Выгодные акции</a>
            <a href="" class="footer__nav-link">Контакты - Мы вам рады</a>
            <a href="" class="footer__nav-link">Все способы оплаты</a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="contacts__info-contacts">
          <div class="contacts__info-block _address">
            <p class="txt14light type">Офис продаж:</p>
            <p class="txt30bold info">Свердлова, д.23А, 1 этаж, офис 3.</p>
          </div>
          <div class="contacts__info-block _tel">
            <p class="txt14light type">Телефон:</p>
            <a href="tel:+78005008868" class="txt30bold info">8 800 500-88-68</a>
          </div>
        </div>
        <div class="footer__bottom-socials">
          <div class="block">
            <div class="img-block">
              <img src="./assets/images/youtube.svg" alt="">
            </div>
            <div class="img-block">
              <img src="./assets/images/social-logo.png" alt="">
            </div>
            <div class="img-block">
              <img src="./assets/images/vk.svg" alt="">
            </div>
          </div>
          <div class="block">
            <div class="img-block">
              <img src="./assets/images/telegram.svg" alt="">
            </div>
            <div class="img-block">
              <img src="./assets/images/whatsapp.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="img-bg">
        <img src="./assets/images/bg-vector.svg" alt="">
      </div>
    </div>
  </div>
</div>